<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect your Password</h1>
        <p class="my-4 text-2xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At id harum, vero a iure porro possimus labore fugiat nemo numquam? Dolorem numquam debitis suscipit? Iusto molestiae maxime corrupti omnis quae?
        </p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
            Start Now
        </button>
    </div>
    <img src="fingerPrint.svg" alt="" class="w-80">
</header>