---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora culpa repudiandae explicabo voluptate provident. Libero laboriosam quibusdam atque explicabo ad minus corporis quisquam pariatur, similique eos et tenetur itaque nostrum optio, officia eius quo id? Fuga sequi totam officia consequatur aspernatur veritatis dolorem voluptas dolores! Sint, odio? Voluptatum esse eum vero eveniet aliquid tempore sit quia tempora velit neque dolorem culpa nulla, delectus qui dolore natus debitis magni inventore aspernatur quaerat consequatur, vel animi sed corrupti. Beatae repellat neque id iste? Ipsum, temporibus odio praesentium doloremque quibusdam suscipit voluptas necessitatibus quae recusandae, natus aliquid deserunt dolorem sit quasi quaerat perferendis!</p>
</Layout>